<% provide(:title, "About") %>
<h1>About</h1>

<div class="row jumbotron center">
  <div class="col-md-6 col-md-offset-3">
    Microposts is Twitter styled web application<br>
    You can post your thoughts, follow users and get followed by people.<br>
    The profile pictures are directly linked to you gravatar images.<br>
    You can change your gravatar (i.e avatar linked with your email ids) by going to signing up at <a href="https://en.gravatar.com" target='_blank'>here</a> and changing the globally recognized avatar. <br>
    Enjoy and keep sharing :)
  </div>
</div>
<footer class="footer">
  <small>
    Microposts app created by Sayan Chakraborty
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <!-- <li><%= link_to "Contact", contact_path %></li> -->
    </ul>
  </nav>
</footer>